<div class="container">
  <%= image_tag("about-cannabis.jpg", alt: "Cannabis_img",class:"about-img") %>
  <div class="about-description">
    <div class="text-center">
      <p class="title">Online Cannabis Learning Service</p>
    </div>
    <p class="detail">
      Cannabis is a service where you can learn cannabis online.<br>
Depending on how you learn, the results will change. <br>
We offer a learning environment that is easy for even beginners to learn.
    </p>
  </div>
</div>