<div class="container top-container">
  <div class="row top-row">
    <div class="col-md-6 col-12 top-col-left order-2 order-md-1">
        <h2 class="description">
        Let's<br class="br-n">
        Learning<br class="br-n">
        About
        Cannabis :)
        </h2>
        <div class="button">
        <%= link_to('Member Registration', "#",class:"reg")%>
        </div>
        <div class="button sp-button">
        <%= link_to('Member Login', "#",class:"log")%>
        </div>
    </div>
    <div class="col-md-6 col-12 align-self-center order-1 order-md-2">
      <%= link_to image_tag("cannabis.png", alt: "Cannabis_logo",class:"cannabis"),
    root_path %>
    </div>
  </div>
</div>
