@import "bootstrap-sprockets";
@import "bootstrap";

/*---------------------------------------------------------------
	Universal
/*---------------------------------------------------------------*/

h1, h2, h3, p,h4, h5, ul, ol, li, dl, dt, dd, form, figure, form {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: normal;
  line-height: 2;
}

.clear {
  clear:both;
}


a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity:0.8;
  color:#fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height:auto;
  width:auto;
  max-height:100%;
}


li	{
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'Handlee','-apple-system','BlinkMacSystemFont','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic','sans-serif';
  background-color:  #01805A;
  color: #fff;
  line-height: 0;
  font-size: 24px;
}

/*---------------------------------------------------------------
	header
/*---------------------------------------------------------------*/

header {
	background-color: #01805A;
	padding: 50px 0 30px 0;
}

.eden {
	font-size:3rem;
}

.hl {
  padding: 20px 0 40px 0;
}

.hr {
	float: right;
	font-size: 20px;
	margin-top: -20px;
}

.hr li {
	padding: 0px 10px
}

.btn {
  margin-top: 30px;
}

.description {
  font-size: 3.2rem;
}

.reg {
  background-color: #DAB300;
  padding: 30px 45px;
  border-radius: 15px;
  display: inline-block;
  font-size: 1rem;
  margin-top: 20px;
}

.cannabis {
  width: 80%;
}

.top-col-left {
  padding-left: 100px;
}

.top-row {
  padding-top: 40px;
}

.sp-button {
  display: none;
}

.copyright {
  text-align: right;
  position: relative;
  bottom:-60px;
  font-size: 1rem;
}

/*---------------------------------------------------------------
	About
/*---------------------------------------------------------------*/

.about-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 2rem;
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px 30px;
  margin: 30px 0 20px 0;
}

/*---------------------------------------------------------------
	Signup
/*---------------------------------------------------------------*/

.signup-title {
  font-size: 2.5rem;
  margin: -40px 0 20px 0;
  border-bottom: 1px dashed #fff;
  display:block;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.btn-color {
  background-color: #DAB300;
  color: #ffffff;
  width: 100%!important;
  border:none;
  font-size: 1.2rem;
  margin-top: 30px;
}

.alert-warning {
  padding: 1.5rem!important;
  border-radius: 15px!important;
  margin-bottom: 3.5rem!important;
}

.alert-primary {
  padding: 1rem;
}


/*---------------------------------------------------------------
	Profile
/*---------------------------------------------------------------*/

.border-bottom {
  margin: 10px 0;
}

.user-info {
  border: 1px solid #fff;
  margin-top: 0px;
  font-size: 2rem;
  padding: 2rem;
}

.learned {
  display: block;
  margin-top: 30px;
  font-size: 1rem;
}

.btn-cannabis {
  background-color: #ffffff;
  color: #01805A;
  border-color: #01805A;
  margin-top: 0;
  padding:0.5rem 5rem;
  margin-top: -10px;
}

.btn-follow {
  background-color: #01805A;
  color: #fff;
  border-color: #fff;
  margin-top: 0;
  padding:0.5rem 5rem;
  margin-top: -10px;
}

.btn-cannabis:hover {
  color: #01805A!important;
}

.btn-follow:hover {
  color: #fff!important;
}

.f-list {
  font-size: 1.5rem;
  margin: 20px 0;
}

.activity {
  padding: 1rem 2rem 2rem 2rem;
}

.ac-title {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.ac-list li {
  margin-bottom: 1rem;
  font-size: 1rem;
}


/*---------------------------------------------------------------
	Users index
/*---------------------------------------------------------------*/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
}

.pagi {
  text-align: center;
  margin-top: 3rem;
}

.pagination {
  justify-content: center;
}

.user-all {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.page-link {
  background-color:transparent!important;
  color: #ffffff!important;
}

.page-item.active {
  background-color: #ffffff!important;
}

.page-item.active span {
  color:#01805A!important;
  border-color: #ffffff!important;
}

.media {
  margin-bottom: 1rem;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.delete {
  background-color: red;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0rem 1rem;
}




















/*---------------------------------------------------------------
	Smart phone SP
/*---------------------------------------------------------------*/

@media screen and (max-width:768px){

  body{
    font-size: 0.8rem;
  }

/*---------------------------------------------------------------
	header
/*---------------------------------------------------------------*/

header {
	height: 100%;
	background-color: #01805A;
	padding: 50px 0 0 0;
}

.eden {
  font-size:3rem;
  display: block;
  text-align: center;
}

.hl {
  padding: 20px 0 20px 0;
}

.hr {
	display: none;
}

.btn {
  margin-top: 30px;
}

.description {
  font-size: 1.0rem;
  text-align: center;
  margin: 0 0 40px 0;
}

.reg {
  padding:25px 35px;
  display: inline-block;
  font-size: 1rem;
  margin-top: 0px;
  text-align: center;
}

.cannabis {
  width: 100%;
}

.top-col-left {
  padding-left: 15px;
}

.top-row {
  padding-top: 20px;
}

.br-n {
  display: none;
}

.button {
  text-align: center;
}

.sp-button {
  display: block;
}

.log {
  padding:25px 55px;
  display: inline-block;
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #fff;
}

.copyright {
  text-align: center;
  position: relative;
  bottom: -40px;

}

/*---------------------------------------------------------------
	About
/*---------------------------------------------------------------*/

.about-img {
  height: 200px;
  margin-top: 40px;
}

.title {
  font-size: 1rem;
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px 30px;
  margin: 30px 0 20px 0;
}

.detail {
  text-align: center;
  font-size: 1.0rem;
}

/*---------------------------------------------------------------
	Signup
/*---------------------------------------------------------------*/

.signup-title {
  font-size: 1.5rem;
  margin: 30px 0 20px 0;
  border-bottom: 1px dashed #fff;
  display: inline-block;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.btn-color {
  background-color: #DAB300;
  color: #ffffff;
  width: 100px!important;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border:none;
  font-size: 1rem;
}

.alert-primary {
  padding: 1rem;
  margin-top: 2rem;
}


}