<header>
  <div class="hl container header-title">
    <%= link_to("Cannabis", root_path , class:"eden")%>
      <nav class="hr">
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to "ABOUT", about_path, id:"about" %></li>
          <li class="list-inline-item"><%= link_to "SIGNUP", signup_path, id:"signup" %></li>
          <li class="list-inline-item"><%= link_to "LOGIN", "#", id:"login" %></li>
        </ul>
      </nav>
        <div class="clear"></div>
  </div>
</header>